{% extends "game-base.html"%}
{% block title %}Add Songs{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1><i class="fa fa-gamepad" aria-hidden="true"></i> Add Game:</h1>
    <form action="/game/add" method="post">
      <div class="form-group">
        <label>Game Name</label>
        <input class="form-control" type="text" name="name" required="true">
      </div>
      <div class="form-group">
        <label>Platform</label>
        <input class="form-control" type="text" name="platform" required="true">
      </div>
      <div class="form-group">
        <label>Year_of_release</label>
        <select class="form-control" name="year_of_release">
          {% for i in range(1950, 2020) %}
            {% if i == 2017 %}
              <option selected="selected">{{i}}</option>
            {% else %}
              <option>{{i}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Genre</label>
        <input class="form-control" type="text" name="genre" required="true">
      </div>
      <div class="form-group">
        <label>Publisher</label>
        <select class="form-control" name="publisher">
          {% for publisher in publishers %}
              <option>{{publisher.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        Publisher not in the list? <a href="/publisher/add" class="btn btn-outline-info" role="button" aria-disabled="true">Add publisher</a>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" required="true"></textarea>
      </div>

      <button type="submit" class="btn btn-outline-info">Add Game</button>
    </form>
  </div>

{% endblock%}
