{% extends "game-base.html"%}
{% block title %}Delete Games{% endblock %}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1><i class="fa fa-refresh" aria-hidden="true"></i> Delete game:</h1>
    <form action="/game/delete/{{game.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{game.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Platform</label>
        <textarea class="form-control" name="platform" required="true" readonly="true">{{game.platform}}</textarea>
      </div>
      <div class="form-group">
        <label>YearOfRelease</label>
        <textarea class="form-control" name="year_of_release" required="true" readonly="true">{{game.year_of_release}}</textarea>
      </div>
      <div class="form-group">
        <label>Genre</label>
        <textarea class="form-control" name="genre" required="true" readonly="true">{{game.genre}}</textarea>
      </div>
      <div class="form-group">
        <label>Publisher</label>
        <textarea class="form-control" name="Publisher" required="true" readonly="true">{{game.publisher.name}}</textarea>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" required="true" readonly="true">{{game.description}}</textarea>
      </div>
      <button type="submit" class="btn btn-warning" id="delete_btn" style="color:white;">Delete</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('All related games will be deleted! Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
