{% extends "game-base.html"%}
{% block title %}Delete Publisher{% endblock %}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1><i class="fa fa-refresh fa-spin" aria-hidden="true"></i> Delete Publisher:</h1>
    <form action="/publisher/delete/{{publisher.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{publisher.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" type="text" name="location" value="{{publisher.location}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>year_founded</label>
        <input class="form-control" type="text" name="year_founded" value="{{publisher.year_founded}}" required="true" readonly="true">
      </div>
      <button type="submit" class="btn btn-outline-danger" id="delete_btn">Delete</button>
      <a href="/publishers" class="btn btn-outline-info" role="button" aria-disabled="true">Not Delete? Return to Publisher Page</a>
    </form>
  </div>

{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('All related games will also be deleted! Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
