{% extends "game-base.html" %}

{% block title %}Publisher Page{% endblock %}

{% block head %}
{{ super () }}
<!--Custom Style-->
<style>
 #add {
   left: 690px;
   color: white;
   font-family: Verdana, Helvetica, Sans-serif;
 }
</style>
{% endblock %}

{% block page_content %}
<div class="container">
 <i class="fa fa-tags fa-3x" aria-hidden="true"> Publishers
 <a id="add" href="/publisher/add" class="btn btn-info" role="button" aria-disabled="true">Add Publishers</a>
</i> {% if publishers %}
 <table class="table mt-3">
   <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Location</th>
       <th>Year_Founded</th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     {% for publisher in publishers %}
     <tr>
       <th scope="row">{{ publisher.id }}</th>
       <td>{{ publisher.name }}</td>
       <td>{{ publisher.location }}</td>
       <td>{{ publisher.year_founded }}</td>
       <td>
         <a href="/publisher/edit/{{publisher.id}}" class="btn btn-outline-info" role="button" aria-disabled="true">Edit</a>
         <a href="/publisher/delete/{{publisher.id}}" class="btn btn-outline-info" role="button">Delete</a>
       </td>
     </tr>
     {% endfor%}
   </tbody>
 </table>
 {% else %}
 <h3>There is no publishers in the database yet.</h3> {% endif %}
</div>

{% endblock%}
