{% extends "game-base.html"%}
{% block title %}Edit Publisher{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1><i class="fa fa-refresh fa-spin" aria-hidden="true"></i> Edit Publisher:</h1>
    <form action="/publisher/edit/{{publisher.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{publisher.name}}" required="true">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input class="form-control" type="text" name="location" value="{{publisher.location}}" required="true">
      </div>
      <div class="form-group">
        <label>Year_Founded</label>
        <select class="form-control" name="year_founded">
          {% for i in range(1950, 2020) %}
            {% if i == 2017 %}
              <option selected="selected">{{i}}</option>
            {% else %}
              <option>{{i}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-outline-info">Save Changes</button>
    </form>
  </div>

{% endblock%}
